<div id="warning"></div>
<%= form_for(@match) do |f| %>
  <strong>Finder:</strong> 
  <%= f.select :finder_id, User.all.collect {|p| [ p.email, p.id ] }, {prompt: 'Select Person'}%>
  <br><br><%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <strong>X-Coordinate:</strong>
  <%= f.number_field :target_x, :id => "match_target_x", :step => 'any'%><br>
  <strong>Y-Coordinate:</strong>
  <%= f.number_field :target_y, :id => "match_target_y", :step => 'any'%><br>
  <%= f.hidden_field :target_z, :id => "match_target_z"%>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br>
<button class="btn btn-sm btn-primary" id="auto">Use your location</button>

<script type="text/javascript">
$("#auto").click(function(){
  getLocation();
})
getLocation = function(){
  if (navigator.geolocation) {
    var timeoutVal = 10 * 1000 * 1000;
    navigator.geolocation.getCurrentPosition(
      updateField, 
      displayError,
      { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
    );
  } 
  else {
    $("#warning").text = "Your device does not support GPS";
  }
}

function updateField(position) {
  $(document).ready(function(){
        $("#match_target_x").val(position.coords.latitude);
        $("#match_target_y").val(position.coords.longitude);
        $("#match_target_z").val(position.coords.altitude);
   });
}

function displayError(error) {
 var errors = { 
   1: 'Permission denied',
   2: 'Position unavailable',
   3: 'Request timeout'
 };
 $("#warning").text = "Your device has the following errors: " + errors[error.code];
}
</script>