<p id="notice"><%= notice %></p>

<h1>Listing Locations</h1>
<h2>Locations to Find</h2>
<ul>
    <% @finder_matches.each do |match| %>
        <li><%= link_to match.name, match%> | 
        <%= link_to User.find(match.target_id).email, match %> |
        <%= link_to match.created_at, match %></li>
    <% end %>
</ul>
<h2>Your Locations</h2>
<ul>
    <% @target_matches.each do |match| %>
        <li><%= link_to match.name, match%> | 
        <%= link_to User.find(match.target_id).email, match %> |
        <%= link_to match.created_at, match %></li>
    <% end %>
</ul>
<br>
<%= link_to 'New Match', new_match_path %>
