<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong> 
  <%= @match.name %>
</p>
<p>
  <strong>Finder:</strong>
  <%= @match.finder.email %>
</p>

<p>
  <strong>Creator:</strong>
  <%= @match.target.email %>
</p>
<% if current_user == @match.finder %>
  <button class="btn btn-lg btn-primary" id="hoc">Hotter or Colder?</button>
  <strong><div id="radar"></div></strong>
  <br>
<% end %>
<% if current_user == @match.target %>
  <iframe src=
    <%="http://maps.google.com/maps?q=" + @match.target_x.to_s + 
    "," + @match.target_y.to_s + "&z=15&output=embed"%> >
  </iframe>
  <br>
<% end %>
<script>

$("#hoc").click(function(){request_distance()});
var level = "To be updated"
function request_distance(){
  if (navigator.geolocation) {
    var timeoutVal = 10 * 1000 * 1000;
    navigator.geolocation.getCurrentPosition(
      find_distance, 
      displayError,
      { enableHighAccuracy: true, timeout: timeoutVal, maximumAge: 0 }
    );
  } 
  else {
    $("#radar").text("Geolocation is not supported by this browser");
  }
}

function displayError(error) {
 var errors = { 
   1: 'Permission denied',
   2: 'Position unavailable',
   3: 'Request timeout'
 };
 $("#radar").text("Error: " + errors[error.code]);
}

function find_distance(position){
  $.ajax({
          url : "<%= get_distance_match_path %>",
          type : "post",
          data : { 
              x_coord: position.coords.latitude, 
              y_coord: position.coords.longitude},
          success : function(data){
            if (data.level !== null )
            {
              level = data.level
            }
            $("#radar").html("<span style='color:red'>" + level + "</span> :" + data.distance);
          },
          error : function(){
            $("#radar").text("Could not connect to server")
          }
  });
};

//setInterval(function(){request_distance()}, 3000);
</script>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
